<!DOCTYPE html>
<html>

<head>
    <% include header.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <header id="main-header" class="py-2 bg-secondary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>關於我們</h1>
                    </div>
                </div>
            </div>
        </header>
</body>

</html>