body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav .navbar-nav li:hover {
    cursor: pointer;
    opacity: 0.5;
    /* background-color: red; */
}