body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 56px;
}

a {
    color: #00B7FF;
}

nav .navbar-nav li {
    transition: 0.3s;
}

nav .navbar-nav li:hover {
    cursor: pointer;
    opacity: 0.5;
    /* color: red; */
    background-color: rgb(223, 217, 217);
}


/* 去掉input[type=number]默認的加減號*/

input[type='number'] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}