<!DOCTYPE html>


<html lang="en">
  <head>

      <!-- <script>
          $('document').ready(function() {
                    $('#addBtn').onclick(function() {
                        $('#team-area').append(
                            '<label for="name">隊員</label>' +
                            '<div class="input-group">' +
                            '<select name="new_member" class="form-control mx-2">' +
                            '<% for ( var i = 0 ; i < cb_data.length ; i++){ var selected = ( i == 0 ) ? "selected" : ""; %>' +
                            '<option value="<%= cb_data[i].m_id %>" <%=selected %>>' +
                            '<%= cb_data[i].name %>' +
                            '</option>' +
                            '<% } %>' +
                            '</select>' +
                            '<span class=" input-group-btn">' +
                            '<button class="btn btn-danger">刪除</button>' +
                            '</span>' +
                            '</div>');
                    });
                });
    
                function back() {
                    // window.location.href = "/result";
                    history.back(-1);
                }
    
                function del(m_id) {
                    confirm("確定刪除隊員編號" + m_id + "?");
                    window.location.href = "/result/detail/delete?m_id=" + m_id;
                }
    
                function update() {
                    confirm("已更新隊員名單!");
                }
          $(function() {
            $(".tm-product-name").on("click", function() {
              window.location.href = "edit-product.html";
            });
          });
        </script> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
          <a class="navbar-brand" href="index.html">
              <h1 class="tm-site-title mb-0">Volleyball</h1>
          </a>
          <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto h-100">
                  <!-- <li class="nav-item">
                      <a class="nav-link active" href="#">
                          <i class="fas fa-tachometer-alt"></i>
                          Dashboard
                          <span class="sr-only">(current)</span>
                      </a>
                  </li> -->
                  <!-- <li class="nav-item dropdown">

                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="far fa-file-alt"></i>
                          <span>
                              Reports <i class="fas fa-angle-down"></i>
                          </span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Daily Report</a>
                          <a class="dropdown-item" href="#">Weekly Report</a>
                          <a class="dropdown-item" href="#">Yearly Report</a>
                      </div>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="products.html">
                          <i class="fas fa-shopping-cart"></i>
                          報名現況
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="accounts.html">
                          <i class="far fa-user"></i>
                          填寫個人資料
                      </a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-cog"></i>
                          <span>
                              Settings <i class="fas fa-angle-down"></i>
                          </span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Billing</a>
                          <a class="dropdown-item" href="#">Customize</a>
                      </div>
                  </li> -->
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link d-block" href="login.html">
                          Admin, <b>Logout</b>
                      </a>
                  </li>
              </ul>
          </div>
      </div>

  </nav>

  <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <h2 class="tm-block-title">查詢隊伍</h2>
            <p class="text-white">隊伍名稱</p>
            <select class="custom-select">
              <option value="0">選擇隊伍</option>
              <option value="1">Admin</option>
              <option value="2">Editor</option>
              <option value="3">Merchant</option>
              <option value="4">Customer</option>
            </select>
          </div>
        </div>
      </div>
    
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
                <h2 class="tm-block-title">目前隊伍</h2>
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                      <th scope="col" class="align-middle">編號</th>
                      <th scope="col" class="align-middle">隊名</th>
                      <th scope="col" class="align-middle">人數</th>
                      <th scope="col" class="align-middle">報名狀態</th>
                      <th scope="col" class="align-middle">繳費狀態</th>
                      <th scope="col" class="align-middle"></th>
                  </tr>
                  <tbody>
                      
                  </tbody>
                </thead>
                <tbody>
                  <% for ( var i = 0 ; i < data.length ; i++){ %>
                    <tr>
                        <td class="align-middle">
                            <%= data[i].t_id  %>
                        </td>
                        <td class="align-middle">
                            <%= data[i].name  %>
                        </td>
                        <td class="align-middle">
                            <%= data[i].number  %>
                        </td>
                        <td class="align-middle">
                            <%= data[i].state  %>
                        </td>
                        <td class="align-middle">
                            <%= data[i].pay  %>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModal" onclick="showDetail('<%= data[i].t_id  %>')">Detail
                    </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="del('<%= data[i].t_id %>')">
                        Delete
                    </button>
                        </td>
                    </tr>
                    <% } %>

                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td class="tm-product-name">Lorem Ipsum Product 1</td>
                        <td>1,450</td>
                        <td>550</td>
                        <td>28 March 2019</td>
                        <td>
                          <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                          </a>
                        </td>
                      </tr>
                      
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              href="add-product.html"
              class="btn btn-primary btn-block text-uppercase mb-3">增加隊伍</a>
            <button class="btn btn-primary btn-block text-uppercase">
              刪除選擇隊伍
            </button>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                <tbody>
                  <tr>
                    <td class="tm-product-name">Product Category 1</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 2</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 3</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 4</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 5</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 6</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 7</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 8</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 9</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 10</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 11</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
             table container /恢復要記得註解
            <button class="btn btn-primary btn-block text-uppercase mb-3">
              Add new category
            </button>
          </div>
        </div> -->
      </div>
    </div>


    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. 
          
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
   
  </body>


</html>